* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f2ebe3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-container {
  display: flex;
  max-width: 700px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-image {
  flex: 1;
}

.card-details {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Perfumes {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6c757d;
  font-size: 12px;
  margin-bottom: 10px;
}

.Title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.About {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.New-price {
  font-size: 24px;
  color: #3d8168;
  font-weight: 700;
  margin-right: 15px;
}

.Old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
}

.add-to-cart {
  background-color: #3d8168;
  color: white;
  border: none;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
 
}


